[submodule "hyprland"]
	path = hyprland
	url = git@github.com:roblescristian4722/hyprland.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:roblescristian4722/rofi.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:roblescristian4722/zsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:roblescristian4722/nvim.git
